Source: miscfiles
Section: text
Priority: extra
Maintainer: Manoj Srivastava <srivasta@debian.org>
Standards-Version: 3.0.0.0

Package: miscfiles
Architecture: all
Provides: wordlist
Depends: fileutils (>= 4.0)
Description: Dictionaries and other interesting files.
 These files are not crucial to system administration or operation,
 but which have come to be common on various systems over the years.
 They originated from various sources and are freely redistributable
 (see the copyright file for more information). 
 .
 These files include those of general interest (English `connectives',
 Webster's Second International English wordlist, traditional stone
 and flower for each month, Precedence table for operators in the C
 language, description of the ISO Latin-1 character set, two-letter
 codes for languages, from ISO 639, International country and city
 telephone codes, geographic coordinates of many major cities, Some
 common abbreviations used in electronic communication, GNU tasks and
 mailing lists, rfc-index, etc). 
 .
 There also is information specific to the United States (List of
 three letter codes for some major airports, North American (+1)
 telephone area codes, US 5 digit zipcodes, postal codes for US and
 Mexican states and Canadian provinces, the Constitution of the United
 States of America, the Declaration of Independence of the Thirteen
 Colonies) 
